*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  padding: 50px
}
.about_page {
    display: flex;
    flex-flow: row wrap;
    background-image: url("bean_spectrum.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about_page > * {
  padding: 10px;
  flex: 1 100%;
}
.index_page {
    display: flex;
    flex-flow: row wrap;
    background-image: url("cups_on_wood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.index_page > * {
  padding: 10px;
  flex: 1 100%;
}
.menu_page {
    display: flex;
    flex-flow: row wrap;
    background-image: url("spilled_beans.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.menu_page > * {
  padding: 10px;
  flex: 1 100%;
}
.reservation_page {
    display: flex;
    flex-flow: row wrap;
    background-image: url("OpenTableSample.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.reservation_page > * {
  padding: 10px;
  flex: 1 100%;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.home{
  display: flex;
  align-items: center;
  background: #6a3005;
  opacity: 0.7;
  padding: 15px;
}
.home:hover {
  background-color: #3e1e04;
}
.about{
  display: flex;
  align-items: center;
  background: #6a3005;
  opacity: 0.7;
  padding: 15px;
}
.about:hover {
  background-color: #3e1e04;
}
.menu{
  display: flex;
  align-items: center;
  background: #6a3005;
  opacity: 0.7;
  padding: 15px;
}
.menu:hover {
  background-color: #3e1e04;
}
.reservation{
  display: flex;
  align-items: center;
  background: #6a3005;
  opacity: 0.7;
  padding: 15px;
}
.reservation:hover {
  background-color: #3e1e04;
}
a {
color: white;
text-decoration: none;
}
footer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  background: #6a3005;
  color: white;
  height: 60px;
}
.active{
  background-color: #cbac85;
}
.coming_soon{
color: red;
}


