{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Menu</title>
    </head>
    <body class="menu_page">
        <div class="header">
            <header><h1>Jazz Java Logo Here</h1></header>
            <div class="nav">
                <div class ="home"> <a href="/">Home</a></div>
                <div class ="about"> <a href="/about">About </a></div>
                <div class ="menu active"><a href="/menu/">Menu</a></div>
                <div class ="reservation"><a href="/reservation/">Reservations</a></div>
            </div>
        </div>
        <h1>Welcome to the menu page</h1>
    <p>
    Here is our menu!
    </p>
        <footer>
            Business Address, Phone Number, Etc.
        </footer>
    </body>
</html>
