{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reservations</title>
    </head>

    <body class="reservation_page">
        <div class="header">
            <header>
                <h1>Jazzy Java Cafe Logo Here</h1>
            </header>
            <div class="nav">
                <div class ="home"> <a href="/">Home</a></div>
                <div class ="about"> <a href="/about">About </a></div>
                <div class ="menu"><a href="/menu/">Menu</a></div>
                <div class ="reservation active"><a href="/reservation/">Reservations</a></div>
            </div>
        </div>
        <h1 class="coming_soon">COMING SOON!</h1>
        <footer>
            Business Address, Phone Number, Etc.
        </footer>
    </body>
</html>
